  @import '@/style/index.scss';

  .header {
    @include flex;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid gray;
    h2{
      height:inherit;
      line-height: 50px;
      width: 100%;
      color: white;
    }
  }