@mixin flex($value: space-between, $align:center) {
    display: flex;
    justify-content: $value;
    align-items: $align;
}

@mixin borderBox($padding) {
    width: 100%;
    box-sizing: border-box;
    padding: $padding
}