@import '@/style/index.scss';
*{
    margin: 0;
    padding: 0;
}
html,
body,
#app,
.container {
    height: 100%;
}

.whiteLabel {
    label {
        color: white !important
    }
}

#app {
    // background-image: url('http://cdns.cherish553.cn/back.jpg');
    background-color: skyblue;
    .el-card{
        // background-color: transparent;
    }
}

.white{
    color:white
}

.dropdownImg {
    display: block;
    width: 100px;
    height: 50px;
}
.center{
    @include flex(center)
}