@import '@/style/index.scss';

.container {
    @include flex(flex-start, flex-start);
    height: 100%;
   
    flex-direction: column;

    .layout-container {
        @include flex(flex-start, flex-start);
        flex: 1;
        width: 100%;

        &-main {
            flex: 1;

        }
    }
}