@import '@/style/index.scss';

.container {
    @include flex(flex-start, flex-start);
    @include flexDir();

    .layout-container {
        @include flex(flex-start, flex-start);
        flex: 1;
        width: 100%;
       
        &-main {
            background-color: rgba(0, 0, 0, 0.7);
            height: 100%;
            flex: 1;
        }
    }
}